/* General Styling */

.bestEcardSection {
  padding-top: 1rem;
  padding: 6rem 0;
  padding-bottom: 3rem;
  background: linear-gradient(90deg, var(#f0f0f0), var(#f9f9f9));
}

.bestEcardContainer {
  padding: 0 2rem;
}

.ecardConatiner {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 15px;
}
.card:hover {
  z-index: 111;
  /* transition: 1s; */
}
.card {
  height: auto; /* Allow height to adjust based on content */
}
/* Responsive Styles */
@media screen and (max-width: 768px) {
  .bestEcardContainer {
    padding: 0 0rem;
  }
  .ecardConatiner {
    width: 100% !important;
  }

  .card {
    font-size: 100px; /* Reduce font size */
    width: 100%; /* Full width of the container */
    max-width: 280px; /* Slightly smaller for medium screens */
    height: auto;
  }
}

@media screen and (max-width: 480px) {
  .card {
    font-size: 80px; /* Further reduce font size */
    max-width: 220px; /* Smaller card size */
  }
}
