.hello {
  background: #000;
}

.profile {
  background-image: url("/images/templates/21/hero.png");
  background-repeat: no-repeat;
  background-size: contain;
  color: #ffffff;
  height: fit-content;
  min-height: 350px;
  max-width: 100%;
  vertical-align: middle;
  display: flex;
  justify-content: end;
  align-items: center;
  flex-direction: column;
}

.profile_image {
  width: 140px;
  height: 140px;
  margin: 0 auto;
}
.name_warper {
  margin: 10px 0;
}
.name {
  font-weight: 600;
  color: black;
  font-size: 24px;
  text-align: center;
}
.color_name {
  font-weight: 900;
  color: #18e023;
}
.color_designation {
  color: black;
  font-size: 18px;
  font-weight: 600;
  text-align: center;
}

.profile_2 {
  background-image: url("/images/templates/22/hero.png");
  background-repeat: no-repeat;
  background-size: contain;
  color: #ffffff;
  height: fit-content;
  min-height: 270px;
  max-width: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  border-radius: 12px 12px 0 0 ;
}
